{% for import_line in import_lines %}
{{ import_line }}
{% endfor %}


from dspygen.rdddy.base_inhabitantimport BaseInhabitant

class {{ inhabitant_name }}(BaseInhabitant):
    def __init__(self, service_colony, inhabitant_id=None):
        super().__init__(service_colony, inhabitant_id)

    {% for message in messages %}
    async def handle_{{ message.type|lower }}(self, message: {{ message.class_name }}):
        """
        Handle {{ message.type }} event.
        {% if message.description %}# {{ message.description }}{% endif %}
        """
        # Logic to handle {{ message.type }} event
        pass
    {% endfor %}
