<h1>Editing signature</h1>

<%= render "form", signature: @signature %>

<br>

<div>
  <%= link_to "Show this signature", @signature %> |
  <%= link_to "Back to signatures", signatures_path %>
</div>
